/* selector {
  property: value;
} */

/* * {
  border: 2px solid black;
} */

body {
  background-color: rgb(245, 242, 157);
}

h1 {
  margin: 30px;
  width: 200px;
  float: left;
}

header {
  height: 150px;
}

li {
  background-color: purple;
}

#top-section {
  background-color: orange;
}

nav li {
  display: inline-block;
  text-decoration: none;
}

#top-section img {
  width: 25%;
  height: 300px;
  border-radius: 50%;
  float: left;
}

.smaller {
  width: 30%;
  display: inline-block;
}
