/* 

CSS Notes

selector {
  property: value;
}

The "star" selector (asterisk, *) means select ALL HTML elements:
* {
  border: 2px solid black;
}


*/

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F1FFFA;
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
  color: #454545;
}

header {
  background-color: #785964;
  height: 100px;
}

h1 {
  float: left;
  margin-left: 20px;
  margin-right: 50px;
  color: black;
  text-shadow: 5px 5px 5px white;
  font-size: 50px;
}

ul {
  padding: 10;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 20px;
}

nav li a {
  color: blue;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

nav li a:hover {
  color: teal;
  text-decoration: underline;
}

main {
  width: 960px;
  margin: 30px auto;
  min-height: 700px;
}

main p {
  font-size: 20px;
  margin-top: 30px;
}

#top-section {
  background-color: #D5C7BC;
  width: 100%;
}

img {
  height: 300px;
  border-radius: 50%;
  border: 3px solid black;
  margin: 20px auto;
}

#top-section img:hover {
  border: 5px dotted white;
}

.smaller {
  width: 30%;
  margin: 10px;
  display: inline-block;
  background-color: #93B7BE;
  text-align: center;
}

.smaller li {
  margin: 10px;
  padding: 5px;
  width: 90%;
}

footer {
  padding-top: 50px;
  background-color: #785964;
  margin-bottom: 0;
}
